@model IEnumerable<Board.Data.Graduate>


@{
    ViewData["Title"] = "Карта выпускников";
}


@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.History)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.History)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.key">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.key">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.key">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


@*<script type="text/javascript" src="~/js/markerclusterer"></script>*@
@*markerClusterer.clearMarkers();*@

<style>
    
    .stationInfo {
        height: 150px;
        width: 250px;
    }
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    }

    .rightimg {
        float: right; /* Выравнивание по правому краю  */
        margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    }
</style>






<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgF3cMOgs8h2VIQczDmNNsVnWeNeSQZsQ"></script>

<div id="map" class="map" style="height: 450px; width:100%;"></div>

<!--Устанавливаем секцию scripts, которая затем будет рендериться на мастер-странице -->
@section scripts {
    <script type="text/javascript">
        var markersData = [];
       
      
        
        markersData.push(
           {
               address: "Канада - Альберта",
               lat: 56.39376,
               lng: -115.77393,
               name: "Петр Птрович"
           });
       markersData.push({
           
            address: "США - Айова",
            lat: 42.72028,
            lng: -92.17529,
            name: "Иван Иванов"
             
        });
        markersData.push( {
            address: "Аргентина - Санта-Роса",
            lat: -38.22524,
            lng: -64.16016,
            name: "Александ Александрович"

           
        });
        markersData.push( {
            address: "Австралия - Порт Хэдленд",
            lat: -20.40288,
            lng: 119.08082,
            name: "Альберт Энштэйн"
               
        });
     
     


        var map, infoWindow;
        
        $(document).ready(function () { // Ждем полной загрузки страницы, после этого запускаем GetMap()
        GetMap();
    });
    
       
    // Функция загрузки
        function GetMap() {

       /*    $.getJSON('@Url.Action("GetData", "Graduates")', function (data) {

                // Проходим по всем данным и устанавливаем для них маркеры
            /*    $.each(data, function (i, item) {
                    
                    markersData.push({
                    address: item.Town, 
                    lat: item.Longitude, 
                    lng: item.Latitude, 
                    name: item.Name 
                }); 
                   
                
                })
            });*/
            
           
            // Координаты центра на карте. Широта: 56.2928515, Долгота: 43.7866641
        var centerLatLng = new google.maps.LatLng(25.18813, 4.39453);

            // Обязательные опции с которыми будет проинициализированна карта
            var mapOptions = {
                center: centerLatLng,  zoom: 2, disableDefaultUI: false, zoomControl: true,
                zoomControlOptions: {  style: google.maps.ZoomControlStyle.LARGE,  position: google.maps.ControlPosition.TOP_LEFT  },
                panControl: false, mapTypeControl: false,  scaleControl: false, streetViewControl: false, overviewMapControl: false,

                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            // Создаем карту внутри элемента #map
            map = new google.maps.Map(document.getElementById("map"), mapOptions);


            infoWindow = new google.maps.InfoWindow();

            google.maps.event.addListener(map, "click", function () {
                // infoWindow.close - закрываем информационное окно.
                infoWindow.close();
            });
        // Определяем границы видимой области карты в соответствии с положением маркеров
            var bounds = new google.maps.LatLngBounds();
        // Перебираем в цикле все координата хранящиеся в markersData
            for (var i = 0; i < markersData.length; i++) {

                var latLng = new google.maps.LatLng(markersData[i].lat, markersData[i].lng);
                var name = markersData[i].name;
                var address = markersData[i].address;

                // Добавляем маркер с информационным окном
                addMarker(latLng, name, address);
                // Расширяем границы нашей видимой области, добавив координаты нашего текущего маркера
                bounds.extend(latLng);
            }
        // Автоматически масштабируем карту так, чтобы все маркеры были в видимой области карты
            map.fitBounds(bounds);
        }

    function addMarker(latLng, name, address) {
        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: name
        });
        marker.setIcon('Images/star1.png');
        // Отслеживаем клик по нашему маркеру
        google.maps.event.addListener(marker, "click", function () {

            // contentString - это переменная в которой хранится содержимое информационного окна.
            var contentString = "<div class='stationInfo'><p><img src=" + "Images/andrew.png" + " class=" + "rightimg" + "> <h3> " + address + "</h3><div><h4>Имя: "
                        + name + "</h4></div><div><h4> " + "</h4></p></div></div>";//'<div class="infowindow">' + '<h3>' + name + '</h3>' + '<p>' + address + '</p>' +  '</div>';

            // Меняем содержимое информационного окна
            infoWindow.setContent(contentString);

            // Показываем информационное окно
            infoWindow.open(map, marker);

        });
    }

    </script>





}