@model Board.Data.Post

@{
    ViewData["Title"] = "Details";
}
<style>
    .main-text{
        font-size:200%;
        background-color:white;
    }
    .qr{
        text-align:right;
    }
</style>
<br />
<div class="main-text">
            @Html.DisplayFor(model => model.DateBegin.Day).@Html.DisplayFor(model => model.DateBegin.Month).@Html.DisplayFor(model => model.DateBegin.Year)
        <span> - </span>
            @Html.DisplayFor(model => model.DateEnd.Day).@Html.DisplayFor(model => model.DateEnd.Month).@Html.DisplayFor(model => model.DateEnd.Year)
        <p></p>
            @Html.DisplayFor(model => model.HeaderText)
        <p></p>
            @Html.DisplayFor(model => model.Text)
        <p></p>
    <p class="qr"><img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=@Url.Action("","",null, "http")@Url.Action().Substring(1)"/></p>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.key" class="btn btn-default">Редактировать</a>
</div>
